.movies-card {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background: #222222;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
  }
  
  .movies-card__caption {
    display: flex;
    padding: 14px 14px 0 14px;
    flex-direction: row;
    justify-content: space-between;
  }    
  
  .movies-card__title {
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
    width: calc(100% - 70px);
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .movies-card__time {
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    display: flex;
    align-items: center;
    color: #8B8B8B;
    padding: 0 0 14px 14px;
  }
  .movies-card__image {
    object-position: center;
    width: 100%;
    height: 100%;
    height: 203px;
    object-fit: cover;
    cursor: pointer;
  }
  
  .movies-card__image:hover {
    opacity: 0.6;
    transition: ease 0.3;
  }
  
  .movies-card__button {
    background-color: transparent;
    background-image: url("../../images/unfavorite.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 30px;
    height: 30px;
    border: none;
    cursor: pointer;
  }

  .movies-card__button:hover {
    opacity: 0.6;
    transition: ease 0.3;
  }

  .movies-card__button_active {
    background-color: transparent;
    background-image: url("../../images/favorite.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 30px;
    height: 30px;
    border: none;
    cursor: pointer;
    transition: ease 0.3;
  }
  .movies-card__button_delete {
    background-color: transparent;
    background-image: url("../../images/cross.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 30px;
    height: 30px;
    border: none;
    cursor: pointer;
    transition: ease 0.3;
  }

  @media screen and (max-width: 768px) {
    .movies-card__image {
      height: 190px;
    }
  }