.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  max-width: 410px;
  width: 100%;
  margin: 0 auto;
  padding: 70px 0;
}

.profile__box {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.profile__title {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #ffffff;

  margin: 0 0 123px;
}

.profile__fieldset {
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  color: #ffffff;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
  margin: 16px 0;
}

.profile__fieldset:first-of-type {
  margin-top: 0;
}

.profile__label {
  margin: 0;
}

.profile__input {
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  text-align: right;
  color: #ffffff;
  background-color: #202020;
  border: none;
  margin: 0;
}

.profile__line {
  width: 100%;
  border: 1px solid #424242;
  margin: 0;
}

.profile__input-error {
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color: #ee3465;
    text-align: end;
    padding: 0;
    padding-bottom: 3px;
    box-sizing: border-box;
    opacity: 0;
    visibility: hidden;
  }

  .profile__input-error_visible {
    opacity: 1;
    visibility: visible;
  }

.profile__buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 220px;
}

.profile__button {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
  border: none;
  background-color: transparent;
  padding-bottom: 16px;
}

.profile__button_disabled {
  opacity: 0.3;
  cursor: not-allowed;
  pointer-events: none;
}

.profile__button:last-of-type {
  padding: 0;
}

.profile__button_logout {
  color: #ee3465;
}

.profile__button:hover {
  opacity: 0.6;
  transition: 0.3 ease;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .profile {
    margin: 236px auto 70px;
  }

  .profile__buttons {
    margin-top: 210px;
  }
}

@media screen and (max-width: 520px) {
  .profile {
    margin: 70px auto;
  }

  .profile__box {
    max-width: 260px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .profile__title {
    margin: 0 0 80px;
  }

  .profile__buttons {
    margin-top: 379px;
  }
}
