.form-header {
    margin-top: 70px;
    margin-bottom: 40px;
    
  }

  .form-header__logo {
    margin-bottom: 40px;
  }

  .form-header__title {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;    
    color: #FFFFFF;
    margin: 0;
  }

  @media screen and (max-width: 768px) {
    .form-header {
      margin-top: 232px;
      margin-bottom: 40px;
    }
  }

  @media screen and (max-width: 520px) {
    .form-header {
        margin: 56px auto 80px;
        text-align: center;
      }
  }