.not-found {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.not-found__title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.not-found__number {
  margin-top: calc(50vh - 100px);
  margin-bottom: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 140px;
  line-height: 169px;
  text-align: center;
  color: #ffffff;
}

.not-found__text {
  margin-top: 5px;
  margin-bottom: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
}

.not-found__return {
  margin-bottom: 60px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #4285f4;
  background-color: transparent;
  border: none;
}

.not-found__return:hover {
  opacity: 0.6;
  cursor: pointer;
  transition: ease 0.3s;
}

@media screen and (max-width: 768px) {
  .not-found__return {
    margin-bottom: 22vh;
  }
}

@media screen and (max-width: 520px) {
  .not-found__number {
    font-size: 80px;
    line-height: 97px;
  }

  .not-found__text {
    margin-top: 10px;
    font-size: 12px;
    line-height: 15px;
  }

  .not-found__return {
    margin-bottom: 4vh;
    font-size: 12px;
    line-height: 15px;
  }
}
