.title {
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.04em;
  color: #ffffff;
  margin: 0;
  border-bottom: 1px solid #DADADA;
  padding-bottom: 23px;
}

