.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
  }

  .header__logo-link {
    box-sizing: border-box;
    margin: 18px 70px;
    width: 38px;
    height: 38px;
  }

  .header__logo-link:hover {
    opacity: 0.6;
    transition: ease 0.3s;
    cursor: pointer;
  }

  .header__logo {
    width: 38px;
    height: 38px;
  }

  .header__auth_hidden {
    display: none;
  }

  .header__cover_hidden {
    display: none;
  }
  
  @media screen and (max-width: 1023px) {
    .header__logo-link {
      margin: 18px 30px 18px 70px;
    }
  }

  @media screen and (max-width: 767px) {
    .header__logo-link {
      margin: 18px 14px;
    }
}