.register {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0 auto;
  }

  .register__form {
    display: flex;
    flex-direction: column;
    max-width: 396px;
  }

  .register__navigation {
    margin-top: 69px;
  }

  @media screen and (max-width: 520px) {
    .register__navigation {
        margin-top: 157px;
        margin-bottom: 30px;
      }
  }